
body {
    background-image: url("images/الدوريات-الكبري.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: 1355px;

}

    p{
        font-size:80px;
        font-size:55px;
        color:white;
    }